<!DOCTYPE html>
<html class="bg-white">
  <head>
    <meta charset="utf-8" />
    <title>SiteServer CMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="../assets/css/font-awesome-4.7.0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/css/bootstrap-4.1.0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/css/siteserver-1.0.7.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      .nav .nav-link {
        font-weight: normal;
        border-radius: 1.25rem;
        font-size: 14px;
      }
      .editable,
      .editable a,
      .editable span {
        border-bottom: dashed 1px #0056b3 !important;
      }
    </style>
  </head>

  <body class="bg-white">
    <div id="main" class="m-t-15 m-b-15 m-l-15 m-r-15">
      <template v-if="pageLoad">
        <p>
          xxx.xxx.xxx.xxx = 精确匹配
          <br />
          xxx.xxx.xxx.xxx-xxx.xxx.xxx.xxx = 范围
          <br />
          xxx.xxx.xxx.* = 任何匹配
        </p>

        <p class="text-primary">当前IP地址：{{ ipAddress }}</p>

        <hr />

        <div
          v-if="pageAlert"
          class="alert"
          v-bind:class="{ 'alert-warning': pageAlert.type === 'warning', 'alert-success': pageAlert.type === 'success', 'alert-danger': pageAlert.type === 'danger' }"
        >
          <button
            v-on:click="pageAlert = null"
            class="close"
            data-dismiss="alert"
          >
            ×
          </button>
          <span v-html="pageAlert.html"></span>
        </div>

        <div class="form-group">
          <label>
            IP访问规则
            <small v-show="errors.has('restriction')" class="text-danger">
              {{ errors.first("restriction") }}
            </small>
          </label>
          <input
            type="text"
            v-model="restriction"
            name="restriction"
            data-vv-as="IP访问规则"
            v-validate="'required'"
            :class="{'is-invalid': errors.has('restriction') }"
            class="form-control"
          />
        </div>

        <hr />

        <div class="text-right">
          <button class="btn btn-primary" v-on:click="btnSubmitClick">
            提 交
          </button>
          <button class="btn btn-default ml-2" v-on:click="btnCancelClick">
            关 闭
          </button>
        </div>
      </template>
      <template v-else>
        <div class="text-center" style="margin-top: 100px">
          <img class="mt-3" src="../assets/images/loading.gif" />
          <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
        </div>
      </template>
    </div>
  </body>
</html>
<script src="../assets/lib/es6-promise.auto.min.js"></script>
<script src="../assets/lib/axios-0.18.0.min.js"></script>
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../assets/lib/layer/layer-3.1.1.js"></script>
<script src="../assets/lib/vue-2.6.10.min.js"></script>

<script src="../assets/lib/vee-validate/vee-validate-2.2.2.js"></script>
<script src="../assets/lib/vee-validate/locale/zh_CN-2.2.2.js"></script>
<script src="../assets/js/validate.js"></script>

<script src="../assets/lib/sweetalert2-7.28.4.all.min.js"></script>
<script src="../assets/js/swal2.js"></script>

<script src="../assets/js/utils.js"></script>
<script src="ip.js"></script>
