<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SiteServer CMS 短信发送插件</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="../assets/css/font-awesome-4.7.0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/css/bootstrap-4.1.0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/css/siteserver-1.0.7.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      .nav .nav-link {
        font-weight: normal;
        border-radius: 1.25rem;
        font-size: 14px;
      }
    </style>
  </head>

  <body class="p-0">
    <div id="main" class="m-t-15 m-b-15 m-l-15 m-r-15">
      <template v-if="pageLoad">
        <div class="card-box">
          <div class="mb-3">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="javascript:;"
                  @click="{btnNavClick('settings.html')}"
                >
                  访问限制选项
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  :class="{active: type === 'White'}"
                  href="javascript:;"
                  @click="{btnNavClick('list.html', 'type', 'White')}"
                >
                  IP地址白名单
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  :class="{active: type === 'Black'}"
                  href="javascript:;"
                  @click="{btnNavClick('list.html', 'type', 'Black')}"
                >
                  IP地址黑名单
                </a>
              </li>
            </ul>
          </div>

          <hr />

          <div
            v-if="pageAlert"
            class="alert"
            v-bind:class="{ 'alert-warning': pageAlert.type === 'warning', 'alert-success': pageAlert.type === 'success', 'alert-danger': pageAlert.type === 'danger' }"
          >
            <button
              v-on:click="pageAlert = null"
              class="close"
              data-dismiss="alert"
            >
              ×
            </button>
            <span v-html="pageAlert.html"></span>
          </div>

          <table class="table tablesaw table-hover">
            <thead>
              <tr>
                <th>IP访问规则</th>
                <th width="200">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in list" :key="item">
                <td class="middle-align">
                  {{ item }}
                </td>
                <td>
                  <a href="javascript:;" @click="btnEditClick(item)">编辑</a>
                  <a href="javascript:;" class="ml-2 text-danger" @click="btnDeleteClick(item)">删除</a>
                </td>
              </tr>
            </tbody>
          </table>

          <button class="btn btn-success" v-on:click="btnAddClick">
              添 加
          </button>
        </div>
      </template>
      <template v-else>
        <div class="text-center" style="margin-top: 100px">
          <img class="mt-3" src="../assets/images/loading.gif" />
          <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
        </div>
      </template>
    </div>
  </body>
</html>
<script src="../assets/lib/es6-promise.auto.min.js"></script>
<script src="../assets/lib/axios-0.18.0.min.js"></script>
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<script src="../assets/lib/layer/layer-3.1.1.js"></script>
<script src="../assets/lib/vue-2.6.10.min.js"></script>

<script src="../assets/lib/vee-validate/vee-validate-2.2.2.js"></script>
<script src="../assets/lib/vee-validate/locale/zh_CN-2.2.2.js"></script>
<script src="../assets/js/validate.js" type="text/javascript"></script>

<script src="../assets/lib/sweetalert2-7.28.4.all.min.js"></script>
<script src="../assets/js/swal2.js" type="text/javascript"></script>

<script src="../assets/js/utils.js" type="text/javascript"></script>
<script src="list.js" type="text/javascript"></script>
